.swap-elements-icon {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px;
  display: box;
  border: solid 1px transparent;
  background: transparent;
  vertical-align: middle;
  margin: 2px 4px;
}

.swap-elements-icon:hover {
  background: #f8f8f8;
  border: solid 1px #cccccc;
}

.swap-elements-icon.disabled {
  fill: #999;
  cursor: default;
}

.swap-elements-icon.disabled:hover {
  background: none;
  border-color: white;
}
